@layer colors {
    :root {
        /* Base */
        --clr-primary-500: hsl(171, 66%, 44%);
        --clr-secondary-100: hsl(233, 100%, 69%);

        /* Neutral */
        --clr-neutral-700: hsl(210, 10%, 33%);
        --clr-neutral-500: hsl(201, 11%, 66%);

        /* Typography */
        --clr-text1-700: var(var(--clr-neutral-700));
        --clr-text2-500: var(var(--clr-neutral-500));

        /* Utility */
        --container: 90rem;
        --transition: 0.5s;
        --box-shadow-btn: 0 5px 15px hsl(171, 66%, 44%, 0.5); 
        --box-shadow-btn2: 0 5px 15px hsl(233, 100%, 69%, 0.5); 
        --sec-title1: 3rem;
        --sec-title2: 5rem;
        --sec-body: 1.5em 0 3.5em;
    }
}

@layer typography {
    :root {
        --ff-primary: "Bai Jamjuree", sans-serif;

        --fs-400: 1.125rem;
        --fs-500: 1.5rem;
        --fs-600: 1.8rem;
        --fs-700: 2rem;
        --fs-800: 3rem;

        --fw-regular: 400;
        --fw-bold: 600;
    }
}

@layer global {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }

    html:focus-within {
        scroll-behavior: smooth;
    }

    body {
        font-family: var(--ff-primary);
        color: var(--clr-text2-500);
        min-height: 50vh;
        overflow-x: hidden;
    }

    img,
    picture,
    svg {
        max-width: 100%;
        height: auto;
        display: block;
    }

    h1,
    h2,
    h3 {
        color: var(--clr-text1-700);
        font-weight: var(--fw-bold);
        line-height: 1.1;
    }

    p {
        font-size: var(--fs-400); 
        font-weight: var(--fw-regular);
        line-height: 1.3;
    }

    a {
        color: var(--clr-text2-500);
        text-decoration: none;
        font-size: var(--fs-400);
        font-weight: var(--fw-regular);
    }

    ul,
    ol {
        li {
            list-style-type: none;
        }
    }
}

@layer utility {
    .wrapper {
        width: 90%;
        max-width: var(--container);
        margin: 0 auto;
    }

    @media (min-width: 48rem) {
        .wrapper {
            width: 80%;
        }
    }

    .btn {
        color: hsl(0, 0%, 100%);
        font-weight: var(--fw-regular);
        padding: 1rem 3.5rem;
        border-radius: 50px;
        transition: var(--transition);
    }

    .primary {
        background: var(--clr-primary-500);
    }

    .primary:hover {
        box-shadow: var(--box-shadow-btn);
        cursor: pointer;
        transform: scale(1.05);
    }

}

/* .btn:active {
    box-shadow: 0 2px hsl(0, 0%, 0%, 0.5);
    } */
    
    .secondary {
        background: var(--clr-secondary-100);
    }

    .secondary:hover {
        box-shadow: var(--box-shadow-btn2);
        cursor: pointer;
        transform: scale(1.05);
    }

/* HEADER */
.header {
    background: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-width: 48rem) {
    .header {
            background: url(images/bg-header-desktop.png);
    }
}

.hero {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 7em 0;
}




/* MAIN */
.headline-box h1 {
    font-size: 2.3rem;   
}

@media (min-width: 48rem) {
    .headline-box h1 {
        font-size: 3rem;    
    }
}

.headline-box, 
h1 {
    text-align: center;
}

.headline-box > p {
    text-align: center;
    margin: var(--sec-body);
}

.btn-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: var(--sec-title1);
}

@media (min-width: 48rem) {
    .btn-box {
        flex-direction: row;
    }
}


/* section two */
.sec-two {
    margin-top: var(--sec-title2);
}
.sec-two-text > h2 {
    font-size: var(--fs-700);
    text-align: center;   
}

.sec-two-text > p {
    text-align: center;
    margin: var(--sec-body);
}

.computer-img {
    margin-bottom: 5em;
}

.grid-box-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}

.grid-text-item > h3 {
    font-size: var(--fs-600);
    text-align: center;
    margin-bottom: 1em;
}



@media (min-width: 48rem) {
    .sec-two-text > h2 {
        font-size: var(--fs-700);    
    }

    .flex-box-computer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5em;
    }

    .grid-box-text {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .grid-text-item h3 {
    font-size: var(--fs-600);
    text-align: left;
    margin-bottom: 1em;
}
}

/* section three */
.sec-three {
    margin-top: var(--sec-title2);
}
.sec-three > h2 {
    font-size: var(--fs-700);
    text-align: center;   
}

.sec-three > p {
    text-align: center;
    margin: var(--sec-body);
}

/* section four */
.sec-four {
    margin-top: var(--sec-title2);
}
.sec-four > h2 {
    font-size: var(--fs-700);
    text-align: center;   
}

.sec-four > p {
    text-align: center;
    margin: var(--sec-body);
}

.workflow-item {
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.workflow-item > h3 {
    font-size: var(--fs-600);
    text-align: center;
    margin: 2em 0 1em;
}

@media (min-width: 48rem) {
    .workflow-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
    }
}

/* section five */
.sec-five {
    margin-top: var(--sec-title2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsors-box {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    width: 50%;
}

@media (min-width: 48rem) {
    .sec-five {
        display: block;
    }
    .sponsors-box {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* section six */
.sec-six {
    margin-top: var(--sec-title2);
}

.sec-six > h2 {
    font-size: var(--fs-700);
    text-align: center;   
}

.sec-six > p {
    text-align: center;
    margin: var(--sec-body);
}

/* FOOTER */
.footer {
    background-color: var(--clr-neutral-500);
    margin-top: var(--sec-title2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
}



.item-logo {
    margin-bottom: 2em;
}

.item-logo img {
    width: 50px;
    height: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item-links p {
    margin-bottom: 2em;
}

.item-sci-icons {
    display: flex;
    flex-direction: row;
    gap: 2em; 
}

.footer-flexbox {
    margin-bottom: 2em;
}

@media (min-width: 48rem) {
    .footer {
        display: block;
    }
    .footer-flexbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
    }


    .item-sci-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3em; 
    }

    .item-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3em;
        text-align: left;
    }
}